#{extends 'main.html' /}
#{set title:'Ajouter une tâche' /}

<h1>Ajouter une nouvelle tâche</h1>

#{form @Application.ajouterTache(), method:'POST', id:'creationTache', enctype:'multipart/form-data' }
    <p>
        #{field 'nom'}
            <label>Nom :</label>
            <input type="text" name="${field.name}"
                   value="${post?.nom}" />
            <span class="error">#{error 'post.nom' /}</span>
        #{/field}
    </p>

    <p>
        #{field 'message'}
            <label>Message :</label>
            <textarea name="${field.name}">${post?.message}</textarea>
            <span class="error">#{error 'post.message' /}</span>
        #{/field}
    </p>

    <p>
        <input type="submit" value="Créer cette tache." />
    </p>
#{/form}